.content-left{
    text-align: center;
    padding:8px;
    font-family: sans-serif;
    font-size: inherit;
    border-right:2px solid #111; 
}

.content-right{
    text-align: center;
    padding:8px;
    font-family: sans-serif;
    font-size: inherit;
  
}