<! Doctype <!DOCTYPE html>
<html>
  <head>
    
  </head>
  
  <body>
    <div class="modal-body row">
    <div class="col-md-6">
    <div class="content-left"><H3 class="text-primary"> Template Driven forms (Component + Directives)</H3>
    <div class="jumbotron container">
    <form #frm='ngForm'  (ngSubmit)="addUser(frm)">

      <div class= 'form-group'>
          <label for="name"> Name</label> 
          <input type="text"   class= 'form-control' name="name" ngModel #ngUser="ngModel" required pattern="(^[a-zA-Z]+\s*[a-zA-Z]*)+"/>
          <div *ngIf="ngUser?.touched" > 
              <div *ngIf="ngUser.errors?.required" class="alert alert-danger">Required Field: Name</div>
              <div *ngIf="ngUser.errors?.pattern" class="alert alert-danger">Invalid input: Name</div>
          </div>
      </div>
      <div class= 'form-group'>
          <label for="email"> E-mail</label>
          <input type="text"  class= 'form-control' name="email" ngModel #ngEmail="ngModel" required pattern="[^\s@]+@[^\s@]+\.[^\s@]+"/>
           <div *ngIf="ngEmail?.touched" >
             <div *ngIf="ngEmail.errors?.required"  class="alert alert-danger">Required Field: Email</div>
             <div *ngIf="ngEmail.errors?.pattern"  class="alert alert-danger">Invalid input: Email</div>
             
            </div> 
      </div>
      <div class= 'form-group'>
          <label for="contact">Contact</label>  
          <input type="text"  class= 'form-control' name="contact" minlength ="10" maxlength="12" ngModel #ngContact="ngModel" required pattern="[0-9]+"/>
           <div *ngIf="ngContact?.touched"> 
               <div *ngIf="ngContact.errors?.required"  class="alert alert-danger" >Required Field: Contact</div>
               <div *ngIf="ngContact.errors?.pattern || ngContact.errors?.minlength || ngContact.errors?.maxlength "  class="alert alert-danger" >Invalid input: Contact</div>
           </div> 
      </div>
      <button type="submit" name = "Add User" class='btn btn-success' [disabled] = "frm.invalid" >Add User</button>

    </form>

  </div>    
  
  <div class= " jumbotron container">
    <p> Display user list</p>
    <ul class="list-group">
      <li *ngFor='let user of userList' class="list-group-item">
        {{user.name}} {{user.email}} {{user.contact}}
      </li>
    </ul>
  </div>
  </div>
  </div>
  
  <div class="col-md-6">
    <div class="content-right">
      <h3 class="text-primary">Reactive Forms(component + API's)</h3>
      <app-reactive-forms></app-reactive-forms>
      
    </div>
    
  </div>
  
  
  
  
  </div>
  </body>
</html>