<form novalidate [formGroup]="form" (ngSubmit)="addUser(form)">
    <div class="jumbotron container ">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name"/>
            <div *ngIf="form.get('name').hasError('required') && form.get('name').touched" class="alert alert-danger">
                Required Field: Name
            </div>
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" formControlName="email"/>
            <div *ngIf="form.get('email').hasError('required') && form.get('email').touched"  class="alert alert-danger">
                Required Field: E-mail
            </div>
        </div>
        <div class="form-group">
            <label for="contact">Contact</label>
            <input type="text" class="form-control" formControlName="contact"/>
            <div *ngIf="form.get('contact').hasError('required') && form.get('contact').touched" class="alert alert-danger">
                Required Field: Contact
            </div>
        </div>
    <button type="submit" class="btn btn-success" [disabled]="form.invalid">Add user</button>


</div>
</form>

<div class= "jumbotron container">
    <p>Display user details</p>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of userList">
            {{user.name}} {{user.email}} {{user.contact}}
        </li>
    </ul>
</div>
